:root {
    --button: #1A3E3E;
    --akcent-text: #F2BE22;
    --header-text: #ffffff;
    --font-family: "Nunito Sans", sans-serif;
    --second-family: "NEXT ART", sans-serif;
}

body {
    margin: 0;
}

@font-face {
    font-family: 'NEXT ART';
    src:
        /*local("NEXT ART_Bold"),*/
        url('/fonts/NEXTART-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}*/

.nunito-sans-top {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.start {
    background-image: url("images/header-background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
    max-width: 1180px;
    margin: auto;
}

.header-top {
    justify-content: space-between;
    margin-top: 16px;
}

.flex {
    display: flex;
    align-items: center;
}

.top-menu {
    justify-content: right;
    align-items: center;
    height: 40px;
    margin: 0;
    padding-right: 0;
    list-style-type: none;
    gap: 24px;
}

.start h1 {
    font-family: var(--second-family);
    color: var(--header-text);
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.02em;
    text-align: left;
}

.top-menu li a {
    text-decoration: none;
    color: var(--header-text);
}

.top-menu li a:hover {
    color: var(--akcent-text);
}

.top-right {
    gap: 48px;
}

.header-consult {
    padding: 0;
    width: 157px;
    height: 44px;
}

.btn {
    background-color: var(--button);
    color: var(--header-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1a3e3e;
    border-radius: 4px;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .192px;
    color: #fdfdfd;
    background: #1a3e3e;
    transition: all .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--header-text);
    color: var(--button);
}
.start__h1 {
    margin: 0 0 41px;
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 1px;
}
